In [1]:
print("This is data struture tutorial in python")

This is datastruture tutorial in python

In [29]:
#list.append(x)
#Add an item to the end of the list. Equivalent to a[len(a):] = [x].


list=['nick','zussman','price','fedrick','obama','milan']
list.append('sarah')
list

#list.extend(iterable)
#Extend the list by appending all the items from the iterable.
#Equivalent to a[len(a):] = iterable.

list.extend('nm')
list

['nick', 'zussman', 'price', 'fedrick', 'obama', 'milan', 'sarah', 'n', 'm']

In [31]:
#list.insert(i, x)
#Insert an item at a given position. The first argument is the index of the
#element before which to insert, so a.insert(0, x) inserts at the front of
#the list, and a.insert(len(a), x) is equivalent to a.append(x).


list=['nick','zussman','price','fedrick','obama','milan']
list.insert(3,"nm")
print(list)


#list.remove(x)
#Remove the first item from the list whose value is equal to x. 
#It raises a ValueError if there is no such item.

list.remove('nm')
list

['nick', 'zussman', 'price', 'nm', 'fedrick', 'obama', 'milan']

['nick', 'zussman', 'price', 'fedrick', 'obama', 'milan']

list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference

In [36]:
list=['nick','zussman','price','fedrick','obama','milan']
list.pop(1)
print(list)
list.pop() #this will remove last item and return it
list

['nick', 'price', 'fedrick', 'obama', 'milan']

['nick', 'price', 'fedrick', 'obama']

In [38]:
#list.clear()
#Remove all items from the list. Equivalent to del a[:].


list=['nick','zussman','price','fedrick','obama','milan']
list.clear()

[]

In [42]:
#list.index(x[, start[, end]])
#Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.
#list

list=['nick','zussman','price','fedrick','obama','milan']
list.index('obama')

4

In [45]:
#list.count(x)
#Return the number of times x appears in the list.


list=['nick','zussman','price','fedrick','obama','milan']
list.count('obama')

1

In [54]:
list=['nick','zussman','price','fedrick','obama','milan']
list.copy()
print(list)

list.sort()
print("sorted list: ",list)

list.reverse()
print(list)

['nick', 'zussman', 'price', 'fedrick', 'obama', 'milan']
sorted list:  ['fedrick', 'milan', 'nick', 'obama', 'price', 'zussman']
['zussman', 'price', 'obama', 'nick', 'milan', 'fedrick']

In [57]:
stack=[1,2,3,4,5]
stack.append(10)
stack.append(44)
print(stack)
stack.pop()
stack.pop()
stack.pop()
stack.pop()
stack

[1, 2, 3, 4, 5, 10, 44]

[1, 2, 3]

In [60]:
from collections import deque

queue=deque([1,2,3,45,6,7,8])

queue.append("michel")
queue.append('nick')

print(queue)

queue.popleft()
queue.popleft()

print(queue)

deque([1, 2, 3, 45, 6, 7, 8, 'michel', 'nick'])
deque([3, 45, 6, 7, 8, 'michel', 'nick'])

In [61]:
squares =[]

for w in range(10):
    squares.append(w**2)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
cubes=[x**3 for x in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [75]:
[(x,y) for x in [1,2,3] for y in [8,5,6] if x!=y]

[(1, 8), (1, 5), (1, 6), (2, 8), (2, 5), (2, 6), (3, 8), (3, 5), (3, 6)]

vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
 [x*2 for x in vec]
==> [-8, -4, 0, 4, 8]
# filter the list to exclude negative numbers
 [x for x in vec if x >= 0]
==> [0, 2, 4]
 # apply a function to all the elements
 [abs(x) for x in vec]
==> [4, 2, 0, 2, 4]
 # call a method on each element
 freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
 [weapon.strip() for weapon in freshfruit]
==> ['banana', 'loganberry', 'passion fruit']
 # create a list of 2-tuples like (number, square)
 [(x, x**2) for x in range(6)]
==> [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
 # the tuple must be parenthesized, otherwise an error is raised
 [x, x**2 for x in range(6)]
==>   File "<stdin>", line 1, in <module>
    [x, x**2 for x in range(6)]
               ^
SyntaxError: invalid syntax
>>> # flatten a list using a listcomp with two 'for'
>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [81]:
matrix=[[1,2,3],[4,5,6],[7,6,5]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 6, 5]]

In [ ]:
#transpose statement

In [87]:
#del statement

list=[2,3,4,5,67,77,55,65]
print(list)

del list[2]
print(list)

del list[2:4]
print(list)

del list[:]
print(list)

[2, 3, 4, 5, 67, 77, 55, 65]
[2, 3, 5, 67, 77, 55, 65]
[2, 3, 77, 55, 65]
[]

In [90]:
list=[2,3,4,5,67,77,55,65]
del list

list

list

In [97]:
##tuples and sequence
##A tuple consists of a number of values separated by commas, for instance
t=1,2,3,5,'nm','jh','mm'

print(t)

u= t,(1,2,3,45,6)
print(u)

#tuples are immutable

t[2]=88
print(t) #tuples can't be changed

(1, 2, 3, 5, 'nm', 'jh', 'mm')
((1, 2, 3, 5, 'nm', 'jh', 'mm'), (1, 2, 3, 45, 6))

TypeError: 'tuple' object does not support item assignment

In [101]:
tup =(1,2,3,'nick')
empty = ()

print(len(tup))
len(empty)

4

0

In [112]:
#set elements can't be duplicate

a=set("abracadabra_dabracaabra")
print(a)

b=set('alexanderiaco')
print(b)

print(b-a) #letters in b but not in a
print(b|a) #letters in a and b and both
print(b&a) #common letters in both a and b
print(a^b) #letters in a or b but not both

{'a', '_', 'c', 'b', 'd', 'r'}
{'a', 'e', 'c', 'o', 'n', 'd', 'l', 'x', 'i', 'r'}
{'e', 'o', 'n', 'l', 'x', 'i'}
{'a', '_', 'e', 'c', 'o', 'n', 'b', 'd', 'l', 'x', 'i', 'r'}
{'a', 'r', 'c', 'd'}
{'_', 'e', 'o', 'n', 'b', 'l', 'x', 'i'}

In [118]:
tel ={'jack':4567,'nick':9876}
tel['jack']
print(tel)

del tel["nick"]

print(tel)

{'jack': 4567, 'nick': 9876}
{'jack': 4567}

In [127]:
nm ={'nn':6337,'mm':624624,'jj':9839,'oo':3433,'pp':8877}
print(nm)

print(list(nm))
print(sorted(nm))

#adding one item
nm['qq']=9999
print(nm)

print('jj' in nm)
'kj' in nm

{'nn': 6337, 'mm': 624624, 'jj': 9839, 'oo': 3433, 'pp': 8877}
['nn', 'mm', 'jj', 'oo', 'pp']
['jj', 'mm', 'nn', 'oo', 'pp']
{'nn': 6337, 'mm': 624624, 'jj': 9839, 'oo': 3433, 'pp': 8877, 'qq': 9999}
True

False

In [131]:
#using dict method we can create a dictionary

dict([('sape',2222),('nam',7777),('eer',992)])

{'sape': 2222, 'nam': 7777, 'eer': 992}

In [132]:
{x:x**2 for x in range(2,10,3)}

{2: 4, 5: 25, 8: 64}

In [133]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [135]:
knights ={'macgyver': 'the great','alexander':'the conquerer','nick':'programmer'}

for k,v in knights.items():
    print(k,v)

macgyver the great
alexander the conquerer
nick programmer

In [137]:
# looping through a sequence, the position index and 
# corresponding value can be retrieved at the same time using the enumerate() function.

for i, v in enumerate(['nm','ki','oi','ppo']):
    print(i,v)

0 nm
1 ki
2 oi
3 ppo

In [140]:
nm =['nick','adam','xuxman','noah','ritter']
ab =['ritcher','james','price','kev','zyamyla']


for i ,j in zip(nm,ab):
    print('{} {}'.format(i,j))

nick ritcher
adam james
xuxman price
noah kev
ritter zyamyla

In [143]:
for i in reversed(range(2,20,2)):
    print(i)

18
16
14
12
10
8
6
4
2

In [148]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted (set(basket)):
    print(f)

apple
banana
orange
pear

In [151]:
import math
raw_data=[54.3,float('nan'),77.2,float('nan'),99]
filtered_data=[]

for v in raw_data:
    if not math.isnan(v):
        filtered_data.append(v)
        
print(filtered_data)

[54.3, 77.2, 99]

### Modules

In [152]:
print("Working with modules")

Working with modules

In [ ]:
import python_basics as pb
pb.