In [1]:
print("This is tutorial of Python from JavaTpoint")

This is tutorial of Python from JavaTpoint

In [20]:
tp = ('rahul',20,'karim',556)
tp1=('ddd','dictionary',222)



r = tp+tp1
print(r)

print(r[2:])

('rahul', 20, 'karim', 556, 'ddd', 'dictionary', 222)
('karim', 556, 'ddd', 'dictionary', 222)

In [26]:
dict= {'nick':22,'adam':33,'sarah':999}
print(dict)

print(dict.keys())
print(dict.values())

{'nick': 22, 'adam': 33, 'sarah': 999}
dict_keys(['nick', 'adam', 'sarah'])
dict_values([22, 33, 999])

In [34]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 'mike':44};   
print("3rd name is "+d[3]);  
print("2nd name is "+ d[2]);  
print("2nd name is "+ d['mike']);

3rd name is john
2nd name is Alex

TypeError: can only concatenate str (not "int") to str

In [43]:
text='''hello\
user

hello\n
user

hello there i am typing here
about my working directory
please check all out

'''

print(text)

hellouser

hello

user

hello there i am typing here
about my working directory
please check all out

In [3]:
print("hello\nuser")

hello
user

In [5]:
a=272
b="name"
c=34.55
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

string and tupples are immutable but list is mutable

True	False	None	and	as
asset	def	class	continue	break
else	finally	elif	del	except
global	for	if	from	import
raise	try	or	return	pass
nonlocal	in	not	is	lambda

In [6]:
print('hello\
user')

hellouser

**	The exponent operator is given priority over all the others used in the expression.
~ + -	The negation, unary plus and minus.
* / % //	The multiplication, divide, modules, reminder, and floor division.
+ -	Binary plus and minus
>> <<	Left shift and right shift
&	Binary and.
^ |	Binary xor and or
<= < > >=	Comparison operators (less then, less then equal to, greater then, greater then equal to).
<> == !=	Equality operators.
= %= /= //= -= +=
*= **=	Assignment operators
is is not	Identity operators
in not in	Membership operators
not or and	Logical operators

In [13]:
num=int(input("enter any number: "))

for i in range(1,10):
    print("%d X %d : %d"%(num,i,num*i))

enter any number: 10
10 X 1 : 10
10 X 2 : 20
10 X 3 : 30
10 X 4 : 40
10 X 5 : 50
10 X 6 : 60
10 X 7 : 70
10 X 8 : 80
10 X 9 : 90

In [25]:
num = int(input("enter the row number you want to print : "))

for i in range(0,num):
    print()
    for j in range(0,i+1):
        print("*",end=" ")

enter the row number you want to print : 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [33]:
for i in range(0,11):
    if (i==5):
        break
    print(i,end=" ")

0 1 2 3 4

In [ ]:
print()

In [4]:
str="nimmo"

print('a'not in str)

True

In [6]:
str="nick williams"
print("the name is %s"%(str))

the name is nick williams

In [7]:
list=["nick williams",22,"programmer and ai developer"]

print("the name of employee is : %s, age is : %d and profession is : %s"%(list[0],list[1],list[2]))

the name of employee is : nick williams, age is : 22 and profession is : programmer and ai developer

In [14]:
Dep1 = ["CS",10];  
Dep2 = ["IT",11]; 
HOD_CS = [10,"Mr. Holding"]  
HOD_IT = [11, "Mr. Bewon"]  
print("printing employee data...")
print("Department 1:\nName: %s, ID: %d\nDepartment 2:\nName: %s, ID: %s"%(Dep1[0],Dep2[1],Dep2[0],Dep2[1]))
print("HOD Details ....");  
print("CS HOD Name: %s, Id: %d"%(HOD_CS[1],HOD_CS[0]));  
print("IT HOD Name: %s, Id: %d"%(HOD_IT[1],HOD_IT[0]));

printing employee data...
Department 1:
Name: CS, ID: 11
Department 2:
Name: IT, ID: 11
HOD Details ....
CS HOD Name: Mr. Holding, Id: 10
IT HOD Name: Mr. Bewon, Id: 11

In [10]:
l =[];  
n = int(input("Enter the number of elements in the list")); #Number of elements will be entered by the user  
for i in range(0,n): # for loop to take the input  
    l.append(input("Enter the item?")); # The input is taken from the user and added to the list as the item  
print("printing the list items....");   
for i in l: # traversal loop to print the list items  
    print(i, end = "  ");

Enter the number of elements in the list4
Enter the item?nm
Enter the item?mn
Enter the item?mm
Enter the item?dd
printing the list items....
nm  mn  mm  dd

In [12]:
list =[]
n=int(input("enter the number of element you want to take : "))

for i in range(0,n):
    elements=str((input("enter elements: ")))
    list.append(elements)
    
print("printing the elements : ")
for i in list:
    print(i, end =" ")

enter the number of element you want to take : 4
enter elements: ff
enter elements: gg
enter elements: hh
enter elements: jj
printing the elements :
ff gg hh jj

In [16]:
list=[1,2,3,4,5,6]
for i in list:
    print(i,end=" ")
    
print()    
list.remove(3)
print("printing the lisft after removal of elements : ")
print(list)

1 2 3 4 5 6
printing the lisft after removal of elements :
[1, 2, 4, 5, 6]

In [4]:
seq="williams",33,"nick"

list(seq)

['williams', 33, 'nick']

In [5]:
li=[1,2,3,5]
li1=[4,5,6,7]
len(li)

4

In [8]:
list = [1,2,3,4,5]
list.append(67)
list2=[55,66,77]

list.append(list2)
print(list)

[1, 2, 3, 4, 5, 67, [55, 66, 77]]

In [14]:
tuple1 = (10, 20, 30, 40, 50, 60)  


for j in range(0,len(tuple1)):
        print("tuple[%d] = %d"%(j,tuple1[j]))

tuple[0] = 10
tuple[1] = 20
tuple[2] = 30
tuple[3] = 40
tuple[4] = 50
tuple[5] = 60

In [23]:
tp1=tuple(input("enter the tuple elements : "))
print("first tuple is : ",tp1)

enter the tuple elements : nayeem
first tuple is :  ('n', 'a', 'y', 'e', 'e', 'm')

In [15]:
lis=list(input("enter the tuple elements : "))
print("first list is : ",lis)

enter the tuple elements : bahs
first list is :  ['b', 'a', 'h', 's']

In [25]:
tuple1 = (1, 2, 3, 4, 5, 6)  
print(tuple1)  
del tuple1[0]  
print(tuple1)  

#tuple' object doesn't support item deletion

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object doesn't support item deletion

In [31]:
tup=(1,2,34,5,6,66)
print(tup)
print(tup[2])
print(tup[-1])
print("length of tuple is : ",len(tup))
del tup[3]

(1, 2, 34, 5, 6, 66)
34
66
length of tuple is :  6

TypeError: 'tuple' object doesn't support item deletion

In [22]:
seq="nayeem",2,"nm"
se="nayeem"

tup=tuple(seq)
print(tup)
print(tuple(se))

print(tup[2])

tup[3:]='ms',44
print(tup)

('nayeem', 2, 'nm')
('n', 'a', 'y', 'e', 'e', 'm')
nm

TypeError: 'tuple' object does not support item assignment

In [29]:
seq="nayeem",3,"nm"
se="msmdjfd"

list2=list(seq)
print(list2)
print(list(se))

list2[3:]='ms',44
print(list2)

list2.remove("nm")
list2

['nayeem', 3, 'nm']
['m', 's', 'm', 'd', 'j', 'f', 'd']
['nayeem', 3, 'nm', 'ms', 44]

['nayeem', 3, 'ms', 44]

In [10]:
Employees = [(101, "Ayush", 22), (102, "john", 29), (103, "james", 45), (104, "Ben", 34)]  
print("----Printing list----");   
for i in Employees:  
    print(i)  
Employees[0] = (110, "David",22)  
print();  
print("----Printing list after modification----");  
for i in Employees:   
    print(i)

----Printing list----
(101, 'Ayush', 22)
(102, 'john', 29)
(103, 'james', 45)
(104, 'Ben', 34)

----Printing list after modification----
(110, 'David', 22)
(102, 'john', 29)
(103, 'james', 45)
(104, 'Ben', 34)

In [3]:
list=[1,"nam",33,666,"mango",'banana']
print(list)
list.append("nick")
print(list)
list.copy()
list.clear()
print(list)

list=[1,"nam",33,666,33,"mango",'banana']
list.reverse()
print(list)
print(list.count(33))

list.remove(33) #remove() will remove only one copy of 33 
print(list)
list.insert(3,"ninini")
print(list)

[1, 'nam', 33, 666, 'mango', 'banana']
[1, 'nam', 33, 666, 'mango', 'banana', 'nick']
[]
['banana', 'mango', 33, 666, 33, 'nam', 1]
2
['banana', 'mango', 666, 33, 'nam', 1]
['banana', 'mango', 666, 'ninini', 33, 'nam', 1]

In [1]:
list=[1,"nam",33,666,33,"mango",'banana']

list.extend("nam")

In [14]:
list=[1,"nam",33,666,33,"mango",'banana']
list.pop(5)
print(list)

[1, 'nam', 33, 666, 33, 'banana']

In [15]:
list = ['1','2','3']  
for l in list:  # Iterating list  
    print(l)  
      
list.insert(3,['4','5','6'])  
print("After inserting:")  
for l in list:  # Iterating list  
    print(l)

1
2
3
After inserting:
1
2
3
['4', '5', '6']

In [16]:
list = ['1','2','3']  
for l in list:  # Iterating list  
    print(l)  
      
list.insert(3,('4','5','6'))  
print("After inserting:")  
for l in list:  # Iterating list  
    print(l)

1
2
3
After inserting:
1
2
3
('4', '5', '6')

In [18]:
# Python list insert() Method  
# Creating a list  
list = ['1','2','3']  
for l in list:  # Iterating list  
    print(l)  
      
list.insert(2,{'4','5','6'})  
print("After inserting:")  
for l in list:  # Iterating list  
    print(l)

1
2
3
After inserting:
1
2
{'6', '4', '5'}
3

In [67]:
list=[1,"nam",33,666,33,"mango",'banana']


list.extend("nick")
print(list)

list.extend(55)
list

[1, 'nam', 33, 666, 33, 'mango', 'banana', 'n', 'i', 'c', 'k']

TypeError: 'int' object is not iterable

In [62]:
list=[1,"nam",33,666,33,"mango",'banana']
seq=('dff','jhj')
se=('name')

list.extend(seq)
print(list)
list.extend(se)
print(list)


print("\n\n\nexperiment using list\n\n\n")

list=[1,"nam",33,666,33,"mango",'banana']
q=['nm','jh']
list.extend(q)
print(list)
pp=['nm']
list.extend(pp)
print(list)

[1, 'nam', 33, 666, 33, 'mango', 'banana', 'dff', 'jhj']
[1, 'nam', 33, 666, 33, 'mango', 'banana', 'dff', 'jhj', 'n', 'a', 'm', 'e']



experiment using list



[1, 'nam', 33, 666, 33, 'mango', 'banana', 'nm', 'jh']
[1, 'nam', 33, 666, 33, 'mango', 'banana', 'nm', 'jh', 'nm']

In [58]:
list=[1,"nam",33,666,33,"mango",'banana']
q={'nm','jh'}
list.extend(q)
print(list)
pp={'nm'}
list.extend(pp)
print(list)

[1, 'nam', 33, 666, 33, 'mango', 'banana', 'nm', 'jh']
[1, 'nam', 33, 666, 33, 'mango', 'banana', 'nm', 'jh', 'nm']

In [25]:
list=[1,"nam",33,666,33,"mango",'banana']
print(list.index(33))
print(list.index("mango"))

2
5

In [46]:
# Python list index() Method  
# Creating a list  
#Apart from element, the method takes two more optional
#parameters start and end. These are used to find index within a limit.

apple = ['p','p','l','e','a']  
# Method calling  
index = apple.index('p',0,5)  # start index  
index2 = apple.index('a',0,5)   # end index  
# Displaying result  
print("Index of p :",index)  
print("Index of a :",index2)

Index of p : 0
Index of a : 4

In [73]:
#set 
#The elements of the 
#can not be duplicate. The elements of the python set must be immutable.
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}  
print(type(Days))
print(Days)

for i in Days:
    print(i,end=" ")
print()

for i in range(0,len(Days)):
    print("Days[%d] : %s "%(i,Days[i]))

<class 'set'>
{'Monday', 'Wednesday', 'Saturday', 'Tuesday', 'Thursday', 'Sunday', 'Friday'}
Monday Wednesday Saturday Tuesday Thursday Sunday Friday

TypeError: 'set' object is not subscriptable

In [74]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])  
print(Days)  
print(type(Days))  
print("looping through the set elements ... ")  
for i in Days:  
    print(i)

{'Monday', 'Wednesday', 'Saturday', 'Tuesday', 'Thursday', 'Sunday', 'Friday'}
<class 'set'>
looping through the set elements ...
Monday
Wednesday
Saturday
Tuesday
Thursday
Sunday
Friday

In [75]:
Days = set("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")  
print(Days)  
print(type(Days))  
print("looping through the set elements ... ")  
for i in Days:  
    print(i)

TypeError: set expected at most 1 arguments, got 7

In [76]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}  
Days2 = {"Friday","Saturday","Sunday"}  
print(Days1.union(Days2)) #printing the union of the sets

{'Thursday', 'Sunday', 'Monday', 'Wednesday', 'Saturday', 'Friday', 'Tuesday'}

In [77]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}  
Days2 = {"Friday","Saturday","Sunday"}  
print(Days1|Days2) #printing the union of the sets

{'Thursday', 'Sunday', 'Monday', 'Wednesday', 'Saturday', 'Friday', 'Tuesday'}

In [78]:
set1 = {"Ayush","John", "David", "Martin"}  
set2 = {"Steve","Milan","David", "Martin"}  
print(set1&set2) #prints the intersection of the two sets

{'David', 'Martin'}

In [79]:
set1 = {"Ayush","John", "David", "Martin"}  
set2 = {"Steave","Milan","David", "Martin"}  
print(set1.intersection(set2)) #prints the intersection of the two sets

{'David', 'Martin'}

The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).

The Intersection_update() method is different from intersection() method since it modifies the original set by removing the unwanted items, on the other hand, intersection() method returns a new set.

Consider the following example.

In [80]:
a = {"ayush", "bob", "castle"}  
b = {"castle", "dude", "emyway"}  
c = {"fuson", "gaurav", "castle"}  
  
a.intersection_update(b, c)  
  
print(a)

{'castle'}

In [84]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}  
Days2 = {"Monday", "Tuesday", "Sunday"}  
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

{'Thursday', 'Wednesday'}

In [83]:
#Example 2 : using difference() method
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}  
Days2 = {"Monday", "Tuesday", "Sunday"}  
print(Days1.difference(Days2)) # prints the difference of the two sets Days1 and Days2

{'Thursday', 'Wednesday'}

Python allows us to use the comparison operators i.e., <, >, <=, >= , == with the sets by using which we can check whether a set is subset, superset, or equivalent to other set. The boolean true or false is returned depending upon the items present inside the sets.

Consider the following example.

In [85]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}  
Days2 = {"Monday", "Tuesday"}  
Days3 = {"Monday", "Tuesday", "Friday"}  
  
#Days1 is the superset of Days2 hence it will print true.   
print (Days1>Days2)   
  
#prints false since Days1 is not the subset of Days2   
print (Days1<Days2)  
  
#prints false since Days2 and Days3 are not equivalent   
print (Days2 == Days3)

True
False
False

In [ ]:
Dictionary = {"Name":"John", "Country":"USA", "ID":101}   
print(type(Dictionary))  
Frozenset = frozenset(Dictionary); #Frozenset will contain the keys of the dictionary  
print(type(Frozenset))  
for i in Frozenset:   
    print(i)